html, body {
    margin: 0;
    border: 0;
    font-size: 100%;
    background-color: #000000;
    color: #ffffff;
}

#banner a, nav a{
    text-align: center;
    color: gold;
    background-color: transparent;
    text-decoration: none;
}

#banner, #menu nav {
    color: gold;
    text-align: center;
}
